# This form is not accessible from the program.
# This will be a form showing an individual Support resource accounts.
# Future enhancement for an Admin Module. Only admins should be able to update support resources.

<h1>This is the Support resources show page.</h1>
